
.curDot {
  position: fixed;
  pointer-events: none;
  z-index: 99999;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #a2e635c2; 
}

.curRing {
  position: fixed;
  pointer-events: none;
  z-index: 99998;
  padding: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border: 2px solid #a2e635c2; /* lime-400 */
  transition: width 0.2s, height 0.2s, background-color 0.2s;
}

/* Scale up state triggered on links and buttons */
.big {
  width: 48px;
  height: 48px;
  background-color: rgba(163, 230, 53, 0.1);
}
