@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
  --color-brand-green: #9de410;
  --font-poppins: "Poppins", sans-serif;

}


@layer base {
  html {
    scroll-behavior: smooth;
    @apply font-poppins;
  }

  html,
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #0c0a09;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  /* carousel hide scrollbar */

  .carousel-scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    touch-action: pan-x pan-y;
    -webkit-overflow-scrolling: touch;
  }

  .carousel-scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* avoid autofill backgroud color */
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #0c0a09 inset;
    -webkit-text-fill-color: #d4d4d4;
    transition: background-color 5000s ease-in-out;
  }
}

@layer utilities {
  .h1 {
    @apply text-5xl font-bold;
  }

  .h2 {
    @apply text-4xl font-semibold;
  }

  .h3 {
    @apply text-3xl font-medium;
  }

  .h4 {
    @apply text-2xl font-medium;
  }

  .h5 {
    @apply text-xl font-normal;
  }

  .h6 {
    @apply text-lg font-normal;
  }

  .nav-glow {
    transition: all 0.3s ease;

    &:hover {
      text-shadow: 0 0 10px #0aff47, 0 0 20px #0aff47;
    }
  }

  .glow-effect {
    box-shadow: 0 4px 30px rgba(147, 0, 245, 0.5);
  }

}