@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 10px));
  }
}

.marquee {
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}